.idea/
notebooks/.ipynb_checkpoints
__pycache__/
*.pyc

build/*
!build/.gitkeep

codesearchnet_data/*
!codesearchnet_data/.gitkeep
!codesearchnet_data/queries.csv

serialized_data/languages/*
!serialized_data/languages/.gitkeep

serialized_data/repositories/*
!serialized_data/repositories/.gitkeep

wandb/
src/wandb/
env.json
notebooks/
