.idea/
notebooks/.ipynb_checkpoints
__pycache__/
*.pyc

cache/anns/*
!cache/anns/.gitkeep

cache/code_embeddings/*
!cache/code_embeddings/.gitkeep

cache/docs/*
!cache/docs/.gitkeep

cache/models/*
!cache/models/.gitkeep

cache/seqs/*
!cache/seqs/.gitkeep

cache/vocabularies/*
!cache/vocabularies/.gitkeep

wandb/
src/wandb/
env.json
notebooks/
