{
  "WANDB_PROJECT_NAME": "",
  "WEB": {
    "DEBUG": true,
    "SECRET_KEY": "",
    "ALLOWED_HOSTS": [],
    "DB_NAME": "",
    "DB_USER": "",
    "DB_PASSWORD": "",
    "DB_HOST": "",
    "DB_PORT": "",
    "ADMIN_PATH": "admin",
    "SENTRY_DSN": ""
  }
}
