{% load static %}
{% load code_search_filters %}

<div class="code-document" data-language="{{ code_document.language }}" data-id="{{ code_document.code_hash }}">
    <div class="code-document__header">
        <div class="code-document__header__left">
            {% if result_number %}
                <div class="code-document__header__left__result-number">
                    {{ result_number }}.
                </div>
            {% endif %}
            <div>
                <div class="code-document__header__left__repo-with-file">
                    <span class="code-document__header__left__repo-with-file__repo">
                        {{ code_document.repo }}
                    </span>
                    &middot;
                    <a class="code-document__header__left__repo-with-file__file"
                       href="{{ code_document.url }}">
                        {{ code_document.file_path|basename }}
                    </a>
                </div>
                {% if include_similar_functions_link %}
                    <div class="code-document__header__left__bottom">
                        {% if distance %}
                            <span class="code-document__header__left__bottom__match-rating">
                                Match rating: {{ distance|cosine_match_rating }}%
                            </span>
                            &middot;
                        {% endif %}
                        <a href="{% url 'code_document' code_hash=code_document.code_hash %}">
                            See similar code snippets
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="code-document__header__right">
            <div class="code-document__header__right__language">
                <img src="{% static 'code_search_app/img/'|add:code_document.language|add:'.svg' %}"
                     alt="{{ code_document.language }} logo">
            </div>
        </div>
    </div>
    <div class="code-document__code">
        {{ code_document|syntax_highlight|safe }}
    </div>
</div>
