<div class="search-bar">
    <input class="search-bar__query"
           type="text"
           placeholder="Enter your query, e.g. 'execute sql'"
           maxlength="256"
           {% if query %}value="{{ query }}"{% endif %} />
    <div class="search-bar__search-button">Search</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var queryInput = document.querySelector('.search-bar__query');
        var searchButton = document.querySelector('.search-bar__search-button');

        function redirectToQueryResults() {
            var query = queryInput.value;
            window.location.href = 'search?query=' + encodeURIComponent(query);
        }

        searchButton.addEventListener('click', redirectToQueryResults);
        queryInput.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                redirectToQueryResults();
            }
        });
    });
</script>
