{% extends 'code_search_app/base.html' %}
{% load static %}
{% load code_search_filters %}

{% block extratitle %}
    {% if query %} - {{ query }}{% endif %}
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'code_search_app/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'code_search_app/css/search_bar.css' %}">
    <link rel="stylesheet" href="{% static 'code_search_app/css/code_document.css' %}">
    <style>{{ syntax_highlight_css }}</style>
{% endblock %}

{% block content %}
    {% include 'code_search_app/search_bar.html' with query=query %}
    <div class="filters">
        {% if languages|length > 1 %}
            <div class="filters__languages">
                <div class="filters__languages__language filters__languages__language--active chip"
                     data-language="all">All</div>
                {% for language in languages %}
                    <div class="filters__languages__language chip"
                         data-language="{{ language }}">{{ language|capfirst }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="code-documents">
        {% for distance, code_document in code_documents %}
            {% include 'code_search_app/code_document.html' with code_document=code_document result_number=forloop.counter include_similar_functions_link=1 include_ratings=1 existing_rating=code_hash_to_rating|get_item:code_document.code_hash %}
        {% endfor %}
    </div>
    <div id="csrf-token">
        {% csrf_token %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var query = '{{ query|escapejs }}';
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            var languageFilterChips = document.querySelectorAll('.filters__languages__language');
            function onLanguageFilterChipClick(e) {
                var chip = e.target;
                var language = chip.dataset.language;

                languageFilterChips.forEach(function(languageFilterChip) {
                    languageFilterChip.classList.remove('filters__languages__language--active');
                });
                chip.classList.add('filters__languages__language--active');

                document.querySelectorAll('.code-documents .code-document').forEach(function (codeDocument) {
                    var codeDocumentLanguage = codeDocument.dataset.language;

                    if (language === 'all' || language === codeDocumentLanguage) {
                        codeDocument.style.display = 'block';
                    } else {
                        codeDocument.style.display = 'none';
                    }
                });
            }
            languageFilterChips.forEach(function (languageFilterChip) {
                languageFilterChip.addEventListener('click', onLanguageFilterChipClick);
            });

            var ratingChips = document.querySelectorAll('.code-document__ratings__rating_number');
            function onRatingChipClick(e) {
                var ratingChip = e.target;
                var rating = parseInt(ratingChip.dataset.rating);
                var codeDocument = ratingChip.closest('.code-document');
                var codeDocumentRatingChips = codeDocument.querySelectorAll('.code-document__ratings__rating_number');

                var queryRatingUrl = '/code/' + codeDocument.dataset.id + '/query-rating';
                if (window.fetch) {
                    fetch(queryRatingUrl, {
                        method: 'POST',
                        body: JSON.stringify({
                            'query': query,
                            'rating': rating,
                        }),
                        headers: {
                            'X-CSRFToken': csrftoken
                        }
                    });

                    codeDocumentRatingChips.forEach(function (ratingChip) {
                        ratingChip.classList.remove('code-document__ratings__rating_number--active');
                    });
                    ratingChip.classList.add('code-document__ratings__rating_number--active');
                }
            }
            ratingChips.forEach(function (ratingChip) {
                ratingChip.addEventListener('click', onRatingChipClick);
            });
        })
    </script>
{% endblock %}
