{% extends 'code_search_app/base.html' %}
{% load static %}
{% load code_search_filters %}

{% block extratitle %}
    {% if code_document.identifier|length > 0 %}
        - {{ code_document.identifier }}
    {% else %}
        - {{ code_document.file_path|basename }}
    {% endif %}
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'code_search_app/css/code_document.css' %}">
    <link rel="stylesheet" href="{% static 'code_search_app/css/similar_code_documents.css' %}">
    <style>{{ syntax_highlight_css }}</style>
{% endblock %}

{% block content %}
    {% include 'code_search_app/code_document.html' with code_document=code_document %}
    <div class="similar-code-documents-title">Similar code snippets</div>
    <div class="code-documents">
        {% for distance, similar_code_document in similar_code_documents %}
            {% include 'code_search_app/code_document.html' with code_document=similar_code_document result_number=forloop.counter include_similar_functions_link=1 %}
        {% endfor %}
    </div>
    <div id="csrf-token">
        {% csrf_token %}
    </div>
    <script>
        var visitUrl = '{% url 'code_document_visit' code_hash=code_document.code_hash %}';
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        if (window.fetch) {
            fetch(visitUrl, { method: 'POST', headers: { 'X-CSRFToken': csrftoken } });
        }
    </script>
{% endblock %}
