.code-document {
    margin-bottom: 32px;
}

.code-document__header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.code-document__header__left {
    display: flex;
    padding-right: 8px;
}

.code-document__header__left__result-number {
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-size: 16px;
}

.code-document__header__left__repo-with-file {
    margin-bottom: 4px;
}

.code-document__header__left__repo-with-file__repo {
    font-weight: bold;
}

.code-document__header__left__repo-with-file__file {
    word-break: break-all;
    text-decoration: none;
}

.code-document__header__right__language {
    width: 32px;
    height: 32px;
}

.code-document__code {
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    box-shadow: 3px 3px 0 0 var(--shadow-color);
    overflow: hidden;
}

.code-document__code .highlight {
    max-height: 500px;
    background-color: #fff;
    overflow: auto;
    padding: 8px;
    border-radius: 5px;
}

.code-document__code .highlight pre {
    margin: 0;
}

.code-document__header {
    padding: 8px;
}

