.search-wrapper {
    padding: 0 16px 16px 16px;
}

.query-results-title {
    font-size: 24px;
    margin: 32px 0 16px 0;
    text-align: center;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.filters__notice {
    font-size: 12px;
    margin-right: 8px;
}

.filters__languages__language {
    cursor: pointer;
    font-size: 10px;
    margin-right: 4px;
}

.filters__languages__language--active {
    background-color: var(--primary-color);
}
